.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  to {
    box-shadow: -52px -318.6666666667px #0015ff, 75px 21.3333333333px lime, -97px -53.6666666667px #d9ff00, -170px -338.6666666667px deepskyblue, 37px 47.3333333333px #ffa600, -112px -272.6666666667px #0040ff, -87px -402.6666666667px #00ff7b, -224px -1.6666666667px #00ff2b, -83px -317.6666666667px #ff0d00, -85px 62.3333333333px #00ffa6, -9px 42.3333333333px #ff9d00, -25px 56.3333333333px #6600ff, -74px 66.3333333333px #1100ff, -196px -380.6666666667px #00ff1e, 17px -236.6666666667px #7b00ff, -218px -208.6666666667px #00ff1a, 187px -234.6666666667px #ffa600, 178px -66.6666666667px #ff4000, 14px -343.6666666667px #6200ff, -161px 6.3333333333px #00ffc4, -4px -22.6666666667px #6600ff, 145px -76.6666666667px #00ff80, -91px -124.6666666667px #00ccff, -184px -217.6666666667px #00a2ff, 124px -0.6666666667px #00b3ff, -239px -17.6666666667px #11ff00, -68px -164.6666666667px #ff9100, 135px -186.6666666667px #fb00ff, -58px -296.6666666667px #ffe600, -149px -256.6666666667px #91ff00, -68px -105.6666666667px #00ffb3, -73px -117.6666666667px #00ff1e, -121px 66.3333333333px #e100ff, -30px -115.6666666667px #73ff00, 184px 50.3333333333px #ff6f00, 180px -91.6666666667px #ffa200, 192px -220.6666666667px #ff5100, -160px -405.6666666667px #8800ff, -248px 23.3333333333px #ff4d00, -40px -381.6666666667px #00ff51, 13px 77.3333333333px #ff0088, 235px -47.6666666667px #ff003c, -182px -81.6666666667px #00ff62, -221px 55.3333333333px #ffae00, -205px -256.6666666667px #00ff22, 245px -71.6666666667px #ff0059, 47px -351.6666666667px #00ff99, 238px -369.6666666667px #ff00b3, 86px 14.3333333333px #b300ff, -190px -394.6666666667px #005eff, -102px -339.6666666667px #ddff00; } }
@-moz-keyframes bang {
  to {
    box-shadow: -52px -318.6666666667px #0015ff, 75px 21.3333333333px lime, -97px -53.6666666667px #d9ff00, -170px -338.6666666667px deepskyblue, 37px 47.3333333333px #ffa600, -112px -272.6666666667px #0040ff, -87px -402.6666666667px #00ff7b, -224px -1.6666666667px #00ff2b, -83px -317.6666666667px #ff0d00, -85px 62.3333333333px #00ffa6, -9px 42.3333333333px #ff9d00, -25px 56.3333333333px #6600ff, -74px 66.3333333333px #1100ff, -196px -380.6666666667px #00ff1e, 17px -236.6666666667px #7b00ff, -218px -208.6666666667px #00ff1a, 187px -234.6666666667px #ffa600, 178px -66.6666666667px #ff4000, 14px -343.6666666667px #6200ff, -161px 6.3333333333px #00ffc4, -4px -22.6666666667px #6600ff, 145px -76.6666666667px #00ff80, -91px -124.6666666667px #00ccff, -184px -217.6666666667px #00a2ff, 124px -0.6666666667px #00b3ff, -239px -17.6666666667px #11ff00, -68px -164.6666666667px #ff9100, 135px -186.6666666667px #fb00ff, -58px -296.6666666667px #ffe600, -149px -256.6666666667px #91ff00, -68px -105.6666666667px #00ffb3, -73px -117.6666666667px #00ff1e, -121px 66.3333333333px #e100ff, -30px -115.6666666667px #73ff00, 184px 50.3333333333px #ff6f00, 180px -91.6666666667px #ffa200, 192px -220.6666666667px #ff5100, -160px -405.6666666667px #8800ff, -248px 23.3333333333px #ff4d00, -40px -381.6666666667px #00ff51, 13px 77.3333333333px #ff0088, 235px -47.6666666667px #ff003c, -182px -81.6666666667px #00ff62, -221px 55.3333333333px #ffae00, -205px -256.6666666667px #00ff22, 245px -71.6666666667px #ff0059, 47px -351.6666666667px #00ff99, 238px -369.6666666667px #ff00b3, 86px 14.3333333333px #b300ff, -190px -394.6666666667px #005eff, -102px -339.6666666667px #ddff00; } }
@-o-keyframes bang {
  to {
    box-shadow: -52px -318.6666666667px #0015ff, 75px 21.3333333333px lime, -97px -53.6666666667px #d9ff00, -170px -338.6666666667px deepskyblue, 37px 47.3333333333px #ffa600, -112px -272.6666666667px #0040ff, -87px -402.6666666667px #00ff7b, -224px -1.6666666667px #00ff2b, -83px -317.6666666667px #ff0d00, -85px 62.3333333333px #00ffa6, -9px 42.3333333333px #ff9d00, -25px 56.3333333333px #6600ff, -74px 66.3333333333px #1100ff, -196px -380.6666666667px #00ff1e, 17px -236.6666666667px #7b00ff, -218px -208.6666666667px #00ff1a, 187px -234.6666666667px #ffa600, 178px -66.6666666667px #ff4000, 14px -343.6666666667px #6200ff, -161px 6.3333333333px #00ffc4, -4px -22.6666666667px #6600ff, 145px -76.6666666667px #00ff80, -91px -124.6666666667px #00ccff, -184px -217.6666666667px #00a2ff, 124px -0.6666666667px #00b3ff, -239px -17.6666666667px #11ff00, -68px -164.6666666667px #ff9100, 135px -186.6666666667px #fb00ff, -58px -296.6666666667px #ffe600, -149px -256.6666666667px #91ff00, -68px -105.6666666667px #00ffb3, -73px -117.6666666667px #00ff1e, -121px 66.3333333333px #e100ff, -30px -115.6666666667px #73ff00, 184px 50.3333333333px #ff6f00, 180px -91.6666666667px #ffa200, 192px -220.6666666667px #ff5100, -160px -405.6666666667px #8800ff, -248px 23.3333333333px #ff4d00, -40px -381.6666666667px #00ff51, 13px 77.3333333333px #ff0088, 235px -47.6666666667px #ff003c, -182px -81.6666666667px #00ff62, -221px 55.3333333333px #ffae00, -205px -256.6666666667px #00ff22, 245px -71.6666666667px #ff0059, 47px -351.6666666667px #00ff99, 238px -369.6666666667px #ff00b3, 86px 14.3333333333px #b300ff, -190px -394.6666666667px #005eff, -102px -339.6666666667px #ddff00; } }
@-ms-keyframes bang {
  to {
    box-shadow: -52px -318.6666666667px #0015ff, 75px 21.3333333333px lime, -97px -53.6666666667px #d9ff00, -170px -338.6666666667px deepskyblue, 37px 47.3333333333px #ffa600, -112px -272.6666666667px #0040ff, -87px -402.6666666667px #00ff7b, -224px -1.6666666667px #00ff2b, -83px -317.6666666667px #ff0d00, -85px 62.3333333333px #00ffa6, -9px 42.3333333333px #ff9d00, -25px 56.3333333333px #6600ff, -74px 66.3333333333px #1100ff, -196px -380.6666666667px #00ff1e, 17px -236.6666666667px #7b00ff, -218px -208.6666666667px #00ff1a, 187px -234.6666666667px #ffa600, 178px -66.6666666667px #ff4000, 14px -343.6666666667px #6200ff, -161px 6.3333333333px #00ffc4, -4px -22.6666666667px #6600ff, 145px -76.6666666667px #00ff80, -91px -124.6666666667px #00ccff, -184px -217.6666666667px #00a2ff, 124px -0.6666666667px #00b3ff, -239px -17.6666666667px #11ff00, -68px -164.6666666667px #ff9100, 135px -186.6666666667px #fb00ff, -58px -296.6666666667px #ffe600, -149px -256.6666666667px #91ff00, -68px -105.6666666667px #00ffb3, -73px -117.6666666667px #00ff1e, -121px 66.3333333333px #e100ff, -30px -115.6666666667px #73ff00, 184px 50.3333333333px #ff6f00, 180px -91.6666666667px #ffa200, 192px -220.6666666667px #ff5100, -160px -405.6666666667px #8800ff, -248px 23.3333333333px #ff4d00, -40px -381.6666666667px #00ff51, 13px 77.3333333333px #ff0088, 235px -47.6666666667px #ff003c, -182px -81.6666666667px #00ff62, -221px 55.3333333333px #ffae00, -205px -256.6666666667px #00ff22, 245px -71.6666666667px #ff0059, 47px -351.6666666667px #00ff99, 238px -369.6666666667px #ff00b3, 86px 14.3333333333px #b300ff, -190px -394.6666666667px #005eff, -102px -339.6666666667px #ddff00; } }
@keyframes bang {
  to {
    box-shadow: -52px -318.6666666667px #0015ff, 75px 21.3333333333px lime, -97px -53.6666666667px #d9ff00, -170px -338.6666666667px deepskyblue, 37px 47.3333333333px #ffa600, -112px -272.6666666667px #0040ff, -87px -402.6666666667px #00ff7b, -224px -1.6666666667px #00ff2b, -83px -317.6666666667px #ff0d00, -85px 62.3333333333px #00ffa6, -9px 42.3333333333px #ff9d00, -25px 56.3333333333px #6600ff, -74px 66.3333333333px #1100ff, -196px -380.6666666667px #00ff1e, 17px -236.6666666667px #7b00ff, -218px -208.6666666667px #00ff1a, 187px -234.6666666667px #ffa600, 178px -66.6666666667px #ff4000, 14px -343.6666666667px #6200ff, -161px 6.3333333333px #00ffc4, -4px -22.6666666667px #6600ff, 145px -76.6666666667px #00ff80, -91px -124.6666666667px #00ccff, -184px -217.6666666667px #00a2ff, 124px -0.6666666667px #00b3ff, -239px -17.6666666667px #11ff00, -68px -164.6666666667px #ff9100, 135px -186.6666666667px #fb00ff, -58px -296.6666666667px #ffe600, -149px -256.6666666667px #91ff00, -68px -105.6666666667px #00ffb3, -73px -117.6666666667px #00ff1e, -121px 66.3333333333px #e100ff, -30px -115.6666666667px #73ff00, 184px 50.3333333333px #ff6f00, 180px -91.6666666667px #ffa200, 192px -220.6666666667px #ff5100, -160px -405.6666666667px #8800ff, -248px 23.3333333333px #ff4d00, -40px -381.6666666667px #00ff51, 13px 77.3333333333px #ff0088, 235px -47.6666666667px #ff003c, -182px -81.6666666667px #00ff62, -221px 55.3333333333px #ffae00, -205px -256.6666666667px #00ff22, 245px -71.6666666667px #ff0059, 47px -351.6666666667px #00ff99, 238px -369.6666666667px #ff00b3, 86px 14.3333333333px #b300ff, -190px -394.6666666667px #005eff, -102px -339.6666666667px #ddff00; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(500px);
    -moz-transform: translateY(500px);
    -webkit-transform: translateY(500px);
    -o-transform: translateY(500px);
    -ms-transform: translateY(500px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(500px);
    -moz-transform: translateY(500px);
    -webkit-transform: translateY(500px);
    -o-transform: translateY(500px);
    -ms-transform: translateY(500px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(500px);
    -moz-transform: translateY(500px);
    -webkit-transform: translateY(500px);
    -o-transform: translateY(500px);
    -ms-transform: translateY(500px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(500px);
    -moz-transform: translateY(500px);
    -webkit-transform: translateY(500px);
    -o-transform: translateY(500px);
    -ms-transform: translateY(500px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(500px);
    -moz-transform: translateY(500px);
    -webkit-transform: translateY(500px);
    -o-transform: translateY(500px);
    -ms-transform: translateY(500px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%,
    19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
    39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
    59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
    79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
    99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%,
    19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
    39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
    59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
    79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
    99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%,
    19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
    39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
    59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
    79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
    99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%,
    19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
    39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
    59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
    79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
    99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%,
    19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%,
    39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%,
    59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%,
    79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%,
    99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

/*# sourceMappingURL=mixionCss.css.map */
